@charset "UTF-8";
nav a:link {
    color: #2C2C2C;
    text-decoration: none;
	padding: 5px;
}
nav a:visited {
    color: #502C52;
    text-decoration: none;
	padding: 5px;
}
nav a:hover {
    color: #7ad0e7;
    text-decoration: none;
	background-color: #7C4380;
	padding: 5px;
	border-radius: 20px;
}
nav a:active {
    color: #86238C;
    text-decoration: none;
	padding: 5px;
}
body {
    background-image: url(../Images/ornamental.png);
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: small;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#container {
    width: 1168px;
    height: auto;
    background-color: #73B5CA;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
aside {
    width: 130px;
    height: 1090px;
    float: left;
    background-color: #1A4F64;
    color: #E6D9C6;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
header {
    width: 1168px;
    height: 250px;
    background-color: #000050;
    background-image: url(../Images/pixel-heart.png);
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: 260px 260px;
    text-align: center;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 45px;
    color: #0D9AD8;
    font-style: normal;
    font-weight: bold;
}
nav {
    padding: 25px 5px 25px 8px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    width: 1155px;
    height: auto;
    font-size: 25px;
    background-color: #7AD0E7;
    position: fixed;
    top: 0px;
}
#container nav ul {
    list-style-type: none;
    display: block;
	margin: auto;
	width: 410px;
}
nav ul li {
    float: left;
    width: 60px;
    margin-right: 40px;
}
main {
	padding: 10px 10px 10px 10px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    width: 998px;
    height: auto;
    float: left;
}
main p {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 17px;
}
img {
    border: 5px dashed #2C2C2C;
    border-radius: 10px;
}
footer {
    width: 1128px;
    height: 50px;
    clear: both;
	background-color: #7AD0E7;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	padding: 20px;
	
}
h1 {
	font-size: 25px;
}
h3 {
	font-size: 18px;
}
p img {
    float: right;
	padding: 1px 1px 1px 1px;
}
.floatLeft {
	float: left;
}
article {
    margin-bottom: 30px;
}
.submit_btn {
    width: 180px;
    height: 30px;
    background-color: #513872;
    border-radius: 10px;
    font-size: 15px;
}
.submit_btn:hover {
	box-shadow: 5px 5px 5px 1px #000050;
}
.column {
    width: 250px;
    height: 450px;
    float: left;
    margin-left: 40px;
    margin-right: 40px;
}
.cclicense {
	width: 400px;
	clear: both;
	padding: 20px 0px 0px 40px;
}
video {
	width: 300px;
	height: 300px;
	margin: auto;
}
/*Rules the page wil follow for tablet-sized devices*/
@media (max-width: 1024px){
	#container {
		width: 768px;
	}
	header {
		width: 768px;
	}
	nav {
		width: 755px;
	}
	aside{
		height: 1376px;
	}
	main {
		width: 598px;
	}
	footer {
		width: 728px;
	}
	.column {
		margin: 0px 20px 0px 25px;
	}
    .cclicense {
	width: 400px;
	clear: both;
	padding: 20px 0px 0px 40px;
    }
}

/*Rules the page will follow on mobile devices*/
@media only screen and (max-width:375px){
	#container {
		width: 300px;
	}
	header {
		width: 300px;
	}
	nav {
		width: 287px;
		height: 215px;
		position: static;
	}
	#container nav li {
	display: list-item;
	list-style-type: none;
	float: none;
	margin: 0px 0px 20px 0px;
	width: 260px;
	text-align: center;	
	}
	#container nav ul {
	width: 260px;
	}
	nav a:hover {
	color: #000050;
	border-radius: 10px;
	}
	nav a:link {
	display: block;
	width: 200px;
	background-color: #000050;
	color: white;
	}
	nav a:visited {
	text-decoration: none;
	color: lightcyan;
    }
	aside{
		display: none;
	}
	main {
		width: 280px;
	}
	footer {
		width: 260px;
	}
	.column {
		margin: 0px 20px 0px 25px;
	}
    .cclicense {
	width: 200px;
	clear: both;
	padding: 20px 0px 0px 40px;
    }
	video {
	width: 250px;
	height: 250px;
	}
}
